botorch==0.16.1
Bottleneck==1.6.0
contourpy==1.3.2
cycler==0.12.1
et_xmlfile==2.0.0
filelock
fonttools==4.62.1
fsspec==2026.2.0
gmpy2
gpytorch==1.15.2
Jinja2
joblib==1.5.3
kiwisolver==1.5.0
linear_operator==0.6.1
MarkupSafe
matplotlib==3.10.8
mpmath
multipledispatch==1.0.0
mypy_extensions==1.1.0
networkx
numpy==2.2.6
openpyxl==3.1.5
opt_einsum==3.4.0
packaging
pandas==2.3.3
pillow==12.1.1
pyparsing==3.3.2
pyre-extensions==0.0.32
pyro-api==0.1.2
pyro-ppl==1.9.1
python-dateutil==2.9.0.post0
pytz==2026.1.post1
PyYAML
scikit-learn==1.7.2
scipy==1.15.3
seaborn==0.13.2
six==1.17.0
sympy==1.13.1
threadpoolctl==3.6.0
torch==2.5.1
tqdm==4.67.3
typing-inspect==0.9.0
typing_extensions
tzdata==2025.3
